# Dependencies
node_modules
.pnpm-store

# Build outputs
.next
out
dist
coverage

# Prisma
prisma/dev.db
prisma/dev.db-journal

# Env
.env
.env.local
.env.*.local

# Tooling
.turbo
.vscode
.DS_Store
pnpm-debug.log*
.idea
